<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head::head"></head>
<body>
<div th:include="common/nav::nav" class="tabs"></div>
<div class="content">
    <form th:action="@{/live-hls/startAndPut}" method="post">
        <table>
            <tr>
                <td>
                    <input type="text" name="key" required="required" placeholder="key">
                </td>
                <td>key</td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="source" required="required" placeholder="source">
                </td>
                <td>
                    <div>rtsp://admin:a00000000@192.168.1.81:554/h264/ch1/main/av_stream</div>
                    <div>/home/stgoder/5e016b8ec94c20126e69f67a.mp4</div>
                </td>
            </tr>
            <tr>
                <td>
                    <select name="keepAlive">
                        <option value="true" selected>true</option>
                        <option value="false">false</option>
                    </select>
                </td>
                <td>boolean keep alive</td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="cancelAfterSeconds" placeholder="cancelAfterSeconds">
                </td>
                <td>cancel after ? seconds</td>
            </tr>
            <tr>
                <td>
                    <button type="submit">start</button>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="content">
    <table>
        <tr>
            <th>key</th>
            <th>source</th>
            <th>keepAlive</th>
            <th>alive</th>
            <th>cancelAfterSeconds</th>
            <th>birthTime</th>
            <th>upTime</th>
            <th>opt</th>
        </tr>
        <tr th:each="hls : ${hlss}">
            <td><a th:href="@{/hls/play-live/} + ${hls.key}" th:text="${hls.key}" target="_blank"></a></td>
            <td th:text="${hls.source}"></td>
            <td th:text="${hls.keepAlive}"></td>
            <td th:text="${hls.alive}"></td>
            <td th:text="${hls.cancelAfterSeconds}"></td>
            <td th:text="${#dates.format(hls.birthTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#dates.format(hls.upTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>
                <form th:action="@{/live-hls/stopAndRemove}" method="post">
                    <input type="hidden" name="key" th:value="${hls.key}">
                    <button type="submit">X</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>