<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<script th:src="@{/static/js/flv.js}"></script>
<video id="videoElement" controls muted></video>
<script th:inline="javascript">
    if (flvjs.isSupported()) {
        var videoElement = document.getElementById('videoElement');
        var flvPlayer = flvjs.createPlayer({
            type: 'flv',
            //url: 'ws://' + [[${localIpv4}]] + ':8000/live/' + [[${key}]] + '.flv' // node-media-server
            //url: 'http://' + [[${localIpv4}]] + ':8000/live?app=live&stream=' + [[${key}]] // nginx-http-flv-module
            //url: 'http://' + [[${localIpv4}]] + ':8080/live/' + [[${key}]] + '.flv' // srs
            url: [[${url}]]
        });
        flvPlayer.attachMediaElement(videoElement);
        flvPlayer.load();
        flvPlayer.play();
    }
</script>
</body>
</html>